# Se ignora la carpeta de bdd
server/bdd

# Se ignoran los archivos locales de prueba
config.jshing

# Se ignoran los archivos cache
server/__pycache__
server/static/jshing.js
modules/__pycache__

# Se ignoran los servidores de prueba
honey_host